body{
    background: url("https://i.pinimg.com/originals/44/db/93/44db938c4d86a7ea3ae51a511304a117.gif") no-repeat center;
    height:100vh;
    background-size:cover;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}

.input{
    color:rgb(245, 14, 14);
    font:500
}
.img{
    border-radius: 50%;
}